<aside class="site-navigaton">
	<div class="container">

		<nav>
			<ul>
				{% for page in site.pages %} {% if page.title %}
				<li>
					<a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">
								{{ page.title }}
							</a>
				</li>
				{% endif %} {% endfor %}
				<li><a href="{{ " /blog " | prepend: site.baseurl }}">Blog</a></li>
			</ul>
		</nav>
	</div>
	<!-- /.container -->
</aside>
<!-- /.site-header -->

<header>
	<h1>
		<a id="site-title" href="{{ site.baseurl }}/">
			{{ site.title }}
		</a>
	</h1>
</header>

<script>
	var masatoshi = document.getElementById("site-title");
	masatoshi.addEventListener('mouseenter', clickHandler_1, false);
	masatoshi.addEventListener('mouseleave', clickHandler_2, false);

	function clickHandler_1() {
		masatoshi.innerHTML = "西口昌利";
	}

	function clickHandler_2() {
		masatoshi.innerHTML = "Masatoshi Nishiguchi";
	}
</script>
